#FirstH1{
    color: rgb(87, 124, 181, 0.833);
}

#FirstPara span{
    opacity: 0;
    transition: opacity 1s ease;
}

#FirstPara:hover span{
    opacity: 1;
    font-size: larger;
    transition-delay: 0s;
    color: rgb(219, 226, 232) ;
 }

#Intro {
    display: flex;
    border-radius: 5px;
    background-color: rgb(162, 110, 230);
    background-attachment: fixed;
}

#image2{
    border-radius: 5px;
    height: 350px;
    width: 410px;
    transition: trasform 0.3s ease-in-out;
}

#image2:hover{
    transform: scale(1.1);
}
