h1{
    color: rgb(87, 124, 181, 0.833);
}

#FirstPara span{
    opacity: 0;
    transition: opacity 1s ease;
}

#FirstPara:hover span{
    opacity: 1;
    font-size: larger;
    transition-delay: 0s;
    color: rgb(178, 91, 179) ;
 }

#Intro {
    display: flex;
    border-radius: 5px;
    background: url('image/BackGround1.jpg');
    background-attachment: fixed;
}

#image2{
    border-radius: 5px;
    height: 350px;
    width: 410px;
    transition: trasform 0.3s ease-in-out;
}

#image2:hover{
    transform: scale(1.1);
}
