#FirstDiv {
    border: beige;
    border-style: outset;
    width: auto;
    height: 9%;
    box-shadow: 5px 5px 5px 10px rgba(237, 230, 230, 0.866);
    padding-top: 1.6% ;
    background-color: rgb(228, 193, 68);
}

#SecondDiv{
    display: flex;
} 

#image1{
    height: 40px;
    width: 69px;
    border-radius: 5%;
    padding-left: 5px;
    padding-bottom: 2%;
    transition: trasform 0.3s ease-in-out;
}

#image1:hover{
    transform: scale(1.1);
}


nav a{
    text-decoration: none;
    color: rgb(244, 238, 232);
}

nav a:hover{
   font-size: x-large;
   color: rgb(86, 75, 23);
   
}
#Home{
    padding-left: 14%;
}

#Categories{
    padding-left: 2.5%;
}

#About{
    padding-left: 2.5%;
}

#Contact{
    padding-left: 2.5%;
}

#Login{
    padding-left: 2.5%;
}

#User{
    padding-left: 16%;
}

#Admin{
    padding-left: 1%;
}
